body {
  background-color: none;
  opacity: 0.9;
  background-size: 20px 20px;
  background-image: none;
  background-attachment: fixed;
}

/* ----------------------------------------- */
/* ---------Contact Us & About Us Pages-------- */
/* Page Header Section */
.body-header-section .container-fluid {
  background-color: #002868;
  border-bottom: 2px solid #bf0a30;
}

.body-header-section .head {
  text-align: center;
  padding: 3rem;
  color: white;
}

/* ---------Contact Us page------------ */
/* Contact Information Section */
.in-touch-section {
  background: none;
  border-top: none;
}

.form-head {
  text-align: center;
  padding-top: 1.5rem;
  font-size: 40px;
}

.call-us {
  margin-top: 50px;
}

.hours {
  background-color: #bf0a30;
  padding-bottom: 25px;
}

.email {
  background-color: #343A40;
}

/* Google Map Section */
.map-section {
  height: 550px;
}

.map-section .map {
  margin-bottom: -100px;
  margin-left: -12px;
  margin-right: -12px;
}

.map iframe {
  border-bottom: 2px solid black;
}
