body {
  background-color: none;
  opacity: 0.9;
  background-size: 20px 20px;
  background-image: none;
  background-attachment: fixed;
}

/* ----------------------------------------- */
/* ---------Contact Us & About Us Pages-------- */
/* Page Header Section */
.body-header-section .container-fluid {
  background-color: #002868;
  border-bottom: 2px solid #bf0a30;
}

.body-header-section .head {
  text-align: center;
  padding: 3rem;
  color: white;
}

/* ---------Contact Us page------------ */
/* Contact Information Section */
.in-touch-section {
  background: none;
  border-top: none;
}

.form-head {
  text-align: center;
  padding-top: 1.5rem;
  font-size: 40px;
}

.call-us {
  margin-top: 50px;
}

.hours {
  background-color: #bf0a30;
  padding-bottom: 25px;
}

.email {
  background-color: #343A40;
}

/* Google Map Section */
.map-section {
  height: 550px;
}

.map-section .map {
  margin-bottom: -100px;
  margin-left: -12px;
  margin-right: -12px;
}

.map iframe {
  border-bottom: 2px solid black;
}

/* About Information Section */
.about-us-section {
  border-bottom: 2px solid black;
  background-image: url("https://images.ctfassets.net/h0xqyno1fssl/5b4SZ9Ln4irAeTfrznoOV2/ec0b97d58b2c2da89be9cdd821ca2f36/dallas-hero.png");
  background-attachment: fixed;
}

.about-us-section .btn-danger {
  margin-bottom: 22px;
}

.about-head {
  text-align: center;
  padding-top: 25px;
  font-size: 48px;
}

.greg-pic, .greg-info {
  text-align: center;
}

.greg-pic img {
  margin-top: 32px;
  width: 55rem;
}

.info-head-one {
  font-size: 40px;
  font-weight: bold;
}

.info-head-two {
  font-size: 32px;
  margin-bottom: 28px;
}

.info-text {
  text-align: left;
  margin-left: 80px;
  margin-right: 80px;
}

.social-media {
  margin-top: 12px;
  margin-bottom: 12px;
}

.social-icon {
  font-size: 48px;
}

.social-icon a {
  color: black;
}

/*-----------------------Media Queries----------------------*/
/* -----Screensize for Ipad/Tablet (1024px)----- */
@media screen and (max-width: 1024px) {

  /* About Information Section */
  .greg-pic img {
    width: 45rem;
    margin-bottom: 18px;
  }
}

/* -----Screensize for Mobile Phones (min 370px and max 520px)----- */
@media screen and (min-width: 370px) and (max-width: 520px) {

  /* About Information Section */
  .greg-pic img {
    width: 20rem;
    margin-bottom: 18px;
  }

  .info-text {
    margin-left: 6px;
    margin-right: 6px;
  }
}
