body {
  background-color: none;
  opacity: 0.9;
  background-size: 20px 20px;
  background-image: none;
  background-attachment: fixed;
}

/* Page Header Section */
.body-header-section .container-fluid {
  background-color: #002868;
  border-bottom: 2px solid #bf0a30;
}

.body-header-section .head {
  text-align: center;
  padding: 3rem;
  color: white;
}

/* Video Section */
.video-section {
  padding-bottom: 36px;
  border-bottom: 2px solid black;
}

.video-section .container-fluid {}

.video-headers {
  padding-top: 36px;
  padding-bottom: 18px;
  text-align: center;
}

.disclaimer {
  text-align: center;
  margin-top: 18px;
  padding-left: 18px;
  padding-right: 18px;
}

.video-section .row {
  text-align: center;
}

.video-section iframe {
  width: 450px;
  height: 255px;
  border: 1.5px solid gray;
  border-radius: 30px;
  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.18);
}

/*-----------------------Media Queries----------------------*/
/* -----Screensize for Ipad/Tablet (1024px)----- */
@media screen and (max-width: 1024px) {

  /* Video Section */
  .video-section iframe {
    width: 350px;
    height: 200px;
  }
}

/* -----Screensize for Mobile Phones (min 370px and max 520px)----- */
@media screen and (min-width: 370px) and (max-width: 520px) {

  /* Video Section */
  .video-section iframe {
    width: 350px;
    height: 200px;
  }
}
